body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717
}
::-webkit-scrollbar{
  display: none;
}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .body {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
